  <%#<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>%>
<body>
  <table  class="table table-striped"> 
    <thead>
      <tr>
        <th>english</th>
        <th>japanese</th>
        <th>count</th>
      </tr>
    </thead>
  
    <tbody> 
      <% @bookmarks.each do |w|%>
        <%# under table if hide false %> 
        <%unless w.hide%>
          <tr>
            <td><%= w.en %></td>
            <td><%= w.ja %></td>
            <td><%= w.count %></td>
            <td>
              <form action="/edit/<%= w.id %>" method="post" >
                <input type="submit" value="Edit" class="btn btn-primary">
              </form>
            </td>
            <td>
              <form action="/to_hide/<%= w.id %>" method="post" >
                <input type="submit" value="Hide" class="btn btn-warning">
              </form>
            </td>
            <td>
              <form action="/delete/<%= w.id %>" method="post" >
                <input type="submit" value="Destroy" class="btn btn-danger">
              </form>
            </td>
          </tr>
          <%end%>
        <%end%>
      </tbody>
  </table>


<%#  
  <script>
    $('#url').change(function(){
        $.get("/api/site", {url: $(this).val()},
          function(data){
            $('#title').val(data.title);
            });
        })
  </script>
%>
</body>
